
<head>
  <style>
      .date-container {
          display: flex;
          align-items: center;
      }
      .date-container label {
          margin-right: 10px;
      }
      .date-container input[type="date"] {
          margin-right: 10px;
      }
  </style>
</head><body><div class="contact-container" >
  <div class="left-col">
  </div>
<div class="right-col" *ngIf="div1" >
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"   (change)="onCheckboxToggle($event)"/>
        <div class="slider round"></div>
  </label>
  <div class="description">Return</div>
</div>

  <h1> Domain rapport </h1>
<p>Retrieves logs of emails sent by a specific sender to either a particular receiver or multiple receivers within a specified time range. </p>
  <form [formGroup]="domainForm" ><br>
    <label for="name">Domain name</label>

    <input type="text" class="email"  name="domain" formControlName="domain"  required>
    <br/>
    <div class="date-container">
      <label for="startDate">Start date </label>

      <!-- Input for Start Date -->
      <input
        type="date"
        id="startDate"
        name="startDate"
        formControlName="date1"
        (change)="onStartDateChange()"
        max="{{ today }}" />
      <label for="endtDate">      End date </label>

      <!-- Input for End Date -->
      <input
        type="date"
        id="endDate"
        name="endDate"
        formControlName="date2"
        (change)="onEndDateChange()"
        [disabled]="!startDate"
        [min]="startDate"
        [max]="today"
      />
    </div>
    <br>
    <button type="button" (click)="this.loading=true;getMails(this.domainForm.value.domain, 'all', this.domainForm.value.date1+'T00:00', this.domainForm.value.date2+'T23:59');open(mymodal)">SUBMIT</button>
  <br>



       </form>
<div id="error"></div>
<div id="success-msg"></div>
</div>
<ng-template #mymodal let-modal style="width:fit-content">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Domain rapport</h4>

  </div>


  <div  >
    <form>
      <div class="modal-body" style=" display: flex;
      flex-direction: row;margin-top: 5px;padding-bottom: 5vh;padding-top: 4vh; text-align: center;">

          <div class="row"  style="flex: 1;
          padding-right: 5px;">
<div id="GFG"  >
  <h2 style="font-family: 'Jost' ,'sans-serif';
  font-weight: 540;
  letter-spacing: 0.07rem;"> Mail transmission result for the past 30 days : </h2>

	<h1 style="color:green;font-family: 'Jost';">{{this.domainForm.value.domain}}</h1>
  <div *ngIf="loading" style="margin-left: 150px; margin-top: 70px; ">
    <mat-spinner></mat-spinner>
  </div>

  <div style="width:85%;" *ngIf="!loading">
		<p-chart type="pie"
				[data]="data"
				[options]="chartOptions"
				[style]="{'width': '90%'}">
		</p-chart>

	</div>


</div></div>


</div>

<div class="modal-footer">

    <button type="button" class="btn btn-outline-secondary"
        (click)="modal.close('Save click')" (click)="cancel()">Close</button>
</div>
</form>
</div>
</ng-template></div>
<script>


</script>
</body>
