<head><link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/95cecf452d3208890088a5b4c19c7ecf?family=Helvetica+Neue+ME" rel="stylesheet" type="text/css"/>
  <script>const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
        }
        else {
            document.documentElement.setAttribute('data-theme', 'light');
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);


    const name = document.getElementById('name');
    const email = document.getElementById('email');
    const message = document.getElementById('message');
    const contactForm = document.getElementById('contact-form');
    const errorElement = document.getElementById('error');
    const successMsg = document.getElementById('success-msg');
    const submitBtn = document.getElementById('submit');

    const validate = (e) => {
      e.preventDefault();

      if (name.value.length < 3) {
        errorElement.innerHTML = 'Your name should be at least 3 characters long.';
        return false;
      }

      if (!(email.value.includes('.') && (email.value.includes('@')))) {
        errorElement.innerHTML = 'Please enter a valid email address.';
        return false;
      }

      if (!emailIsValid(email.value)) {
        errorElement.innerHTML = 'Please enter a valid email address.';
        return false;
      }

      if (message.value.length < 15) {
        errorElement.innerHTML = 'Please write a longer message.';
        return false;
      }

      errorElement.innerHTML = '';
      successMsg.innerHTML = 'Thank you! I will get back to you as soon as possible.';

      e.preventDefault();
      setTimeout(function () {
        successMsg.innerHTML = '';
        document.getElementById('contact-form').reset();
      }, 6000);

      return true;

    }

    const emailIsValid = email => {
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    }

    submitBtn.addEventListener('click', validate);
    </script>


</head>
<body><div class="contact-container" >
  <div class="left-col">
  </div>
  <div class="right-col" *ngIf="div1">
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox"   (change)="onCheckboxToggle($event)"/>
          <div class="slider round"></div>
    </label>
    <div class="description">Return</div>
  </div>

    <h1> Sender Rapport </h1>
<p>Retrieves logs of emails sent by a specific sender to either a particular receiver or multiple receivers within a specified time range. </p>
    <form [formGroup]="emailForm" >
      <label for="name">Sender Email</label>

      <input type="text" class="email" id="mail1" name="mail1" formControlName="mail1"  autocomplete="on">
      <br/>
      <label for="name">Receiver Email</label>


      <input type="text" class="email"  name="mail2" formControlName="mail2">
      <br/>
      <label for="name">First date</label>
      <input type="datetime-local" class="email" id="date1" name="date1" formControlName="date1"  required >
<br>
      <label for="name">Second date</label>
      <input type="datetime-local"   name="date2" formControlName="date2"  required>



      <br/>
      <button type="button" (click)="formSubmit()">SUBMIT</button>
    <br></form>
<div id="error"></div>
<div id="success-msg"></div>
  </div>

  <!--Log details section -->


  <div class="right-col" *ngIf="div2">
    <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"   (change)="onCheckboxToggle($event)"/>
        <div class="slider round"></div>
  </label>
  <div class="description">Return</div>
</div>

    <h1> Log Details </h1>
<p>Retrieves logs of emails sent by a specific sender to either a particular receiver or multiple receivers within a specified time range. </p>
<form [formGroup]="logForm" (ngSubmit)="submitForm()">
  <label for="name">Log ID</label>
  <input type="text" class="email" name="id" formControlName="id" required>
  <br/>
  <label for="date1">Date </label>

  <!-- Input for Start Date -->
  <input
    type="date"
    id="date1"
    name="date1"
    formControlName="date1"

    max="{{ today }}" /><br>

  <div formArrayName="options">

  <label for="FES"> FES </label>
  <input type="checkbox" id="FES" [formControlName]="0" (change)="onCheckboxChange(0)">
  <label for="VIP"> VIP </label>
  <input type="checkbox" id="VIP" [formControlName]="1" (change)="onCheckboxChange(1)">
  <label for="GP"> GP </label>
  <input type="checkbox" id="GP" [formControlName]="2" (change)="onCheckboxChange(2)">
  <label for="ML"> ML </label>
  <input type="checkbox" id="ML" [formControlName]="3" (change)="onCheckboxChange(3)">  </div>

  <br/>

  <button type="submit" (click)=" submitForm();open(mymodal)">SUBMIT</button>

    <br>


    <ng-template #mymodal let-modal style="width:fit-content">
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Log details</h4>

      </div>
      <div>
        <form>
          <div class="modal-body" style=" display: flex;
          flex-direction: row;margin-top: 5px;padding-bottom: 5vh;padding-top: 4vh; text-align: center;">

              <div class="row"  style="flex: 1;
              padding-right: 30px;">
<textarea readonly>&nbsp;
  {{this.logString}}

</textarea></div>


          </div>

          <div class="modal-footer">

              <button type="button" class="btn btn-outline-secondary"
                  (click)="modal.close('Save click')" (click)="cancel()">Close</button>
          </div>
      </form>
  </div>
  </ng-template></form>
<div id="error"></div>
<div id="success-msg"></div>
  </div>


<!--  div3-->

<div class="right-col" *ngIf="div3">
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"   (change)="onCheckboxToggle($event)"/>
        <div class="slider round"></div>
  </label>
  <div class="description">Return</div>
</div>

  <h1> Receiver Rapport </h1>
<p>Retrieves logs of emails sent to a specific receiver from either a particular sender or multiple senders within a specified time range. </p>
  <form [formGroup]="emailForm2" >
    <label for="name">Sender Email</label>


    <input type="text" class="email"  name="mail1" formControlName="mail1">
    <br/>
    <label for="name">Receiver Email</label>


    <input type="text" class="email"  name="mail2" formControlName="mail2">
    <br/>
    <label for="name">First date</label>
    <input type="datetime-local"    name="date1" formControlName="date1"  required>

   <!-- <input type="text" class="email"  name="date" formControlName="date" >-->
    <label for="name">Second date</label>

    <input type="datetime-local" class="email"  name="date2" formControlName="date2"  required>

    <br/>
    <button type="button" (click)="formSubmit2()">SUBMIT</button>
  <br></form>
<div id="error"></div>
<div id="success-msg"></div>
</div>
</div>

</body>
