<body><div class="row">
  <div class="card" class="text-center">
      <table class="table table-hover">
          <thead >
<th>ID</th>
            <th>Sender mail</th>
              <th>Receiver mail</th>
              <th>Result</th>
              <th>Fes</th>
              <th>Couloir</th>

          </thead>
          <tbody>
              <tr *ngFor='let m of listMails'>
                <td>{{m.id}}</td>

                  <td>{{m.sender}}</td>
                  <td>{{m.receiver}}</td>
                  <td>{{m.result}}</td>
                  <td>{{m.fes}}</td>
                  <td>{{m.couloir}}</td>


                </tr>
              </tbody>
          </table>
      </div>
  </div>
</body>


