<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Inspiration for Menu Hover Effects | Demo: Inola | Codrops</title>
		<meta name="description" content="Inspiration for modern menu hover effects." />
		<meta name="keywords" content="menu, navigation, hover, effect, animation, javascript, css, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Fanwood+Text" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/style-inola.css" />
		<link rel="stylesheet" type="text/css" href="pater/pater.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body class="demo-inola">
		<svg class="hidden">

			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
			</symbol>


		</svg>
		<main>
			<div class="content content--fixed">
				<header class="codrops-header">
					<div class="codrops-links">
						<a class="codrops-icon codrops-icon--prev" (click)="logOut()" title="Previous Demo"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
						<a class="codrops-icon codrops-icon--drop"  title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a>
					</div>
					<a class="codrops-header__title" (click)="logOut()">Deconnexion</a>
				</header>
				<a class="github" href="https://github.com/codrops/MenuHoverEffects/" title="Find this project on GitHub">

          <svg class="icon icon--github"><use xlink:href="#icon-github"></use></svg></a>

          <img style="margin:-10px 100px 0px 600px ;" src="../../assets/img/orange.png" alt="Trulli" width="140" height="100">
				<!-- log orange -->

			</div>
			<section class="content">
       <!-- <div class="alert alert-primary" role="alert">
          This is a primary alert—check it out!{{user?.firstName}}
        </div>-->
				<nav class="menu menu--inola">
					<a class="menu__item" href="#" [routerLink]="['/mail',1]" id="home">
						<span class="menu__item-name">Sender rapport</span>
						<span class="menu__item-label">Review sender's mails status</span>
					</a>
					<a class="menu__item" href="#" [routerLink]="['/mail',2]">
						<span class="menu__item-name">Log Details</span>
						<span class="menu__item-label">Review every log details</span>
					</a>
					<a class="menu__item" href="#" [routerLink]="['/mail',3]">
						<span class="menu__item-name">Receiver rapport</span>
						<span class="menu__item-label">Review receiver's mails status</span>
					</a>
					<a class="menu__item" href="#" [routerLink]="['/charts']">
						<span class="menu__item-name">Chart rapport</span>
						<span class="menu__item-label">Review domain diagram rapport </span>
					</a>
					<a class="menu__item" href="#" [routerLink]="['/domain']">
						<span class="menu__item-name">Mail flow inspector</span>
						<span class="menu__item-label">list of emails to be daily reviewed automatically </span>
					</a>
				</nav>

			</section>
		</main>
		<script src="js/demo.js"></script>
	</body>
</html>


